{% extends "public/templates/base.html" %} {%block main %}

<div class="child child4">
  <h3 class="m-2">Dashboard Page</h3>
</div>

<div class="child child5" style="color: rgb(0, 75, 93)">
  <h3 class="m-2"><i>User : </i></h3>
</div>

<div class="child child6 container" style="color: rgb(0, 75, 93)">
  <ul class="nav nav-tabs nav-fill mb-3">
    <li class="nav-item">
      <a
        class="nav-link active"
        aria-current="page"
        href="dashboard.html"
        style="background-color: rgb(0, 75, 93); color: whitesmoke"
        >View All Employee</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        style="background-color: rgb(0, 75, 93); color: whitesmoke"
        >Add New Employee</a
      >
    </li>
  </ul>

  <div class="table-responsive-lg caption-top">
    <caption>
      <h3>
        EMPLOYEES LIST
        <button
          type="button"
          class="btn btn-primary pull-right"
          data-toggle="modal"
          data-target="#addModal"
        >
          Add New Employee
        </button>
      </h3>
    </caption>
    <hr />
    <table class="table table-striped">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Actions</th>
      </tr>

      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>mark@gmail.com</td>
        <td>0745822554</td>
        <td>
          <a
            href="#"
            class="btn btn-warning btn-xs"
            data-toggle="modal"
            data-target="#editmodal"
            >Edit</a
          >

          <a
            href="#"
            class="btn btn-danger btn-xs"
            onclick="return confirm('Are You Sure To Delete')"
            >Delete</a
          >

          <a
            href="#"
            class="btn btn-success btn-xs"
            data-toggle="modal"
            data-target="#viewmodal"
            >View</a
          >
        </td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
