


{% extends "public/templates/base.html" %}

{% block title %}
    AFRI RAISING LTD
{% endblock%}





{%block main %}
  <div class="child child4">
    <h3 class="m-2">Home Page</h3>
</div>

<div class="child child5" style="color:rgb(0, 75, 93);"><h3 class="m-2"><i>User : </i></h3></div>

  <div class="child child6 container">
      <div class="centercontent">
          <div class="textcontent">
              <i><h1>CREATIVE<br> UI<br> DESIGN</h1>
              <p>Developed by Mamba cita.</p></i>
          </div>
      </div>
  </div>

 

{% endblock %}

{% block search %}

 

{% endblock%}